# Environnements virtuels Python
venv/
.venv/
env/
.env/

# Fichiers de cache Python
__pycache__/
*.pyc
*.pyo

# Fichiers de logs

*.log


# Fichiers de configuration
.vscode/
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/extensions.json
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json


# Fichiers de statistiques
exports/stats/